html {
  margin-top: 30px !important;
}
#site-header {
  margin-top: 30px;
}
#app {
  width: 100%;
  margin: 12px auto;
  padding: 0px 16px 0px 0px;
}
@media (max-width: 659px) {
  .hamburger__container, .site-branding, .social-share-header {
     top: 30px !important;
  }
}
#wpadminbar {
  height: auto;
}
#wp-admin-bar-wp-logo, #wp-admin-bar-comments, #wp-admin-bar-customize, #wp-admin-bar-updates {
  display: none;
}
.wp-admin-bar-top-secondary {
  position: fixed;
  top: 0px;
  right: 0px;
}
.admin_assistant {
  position: fixed;
  top: auto;
  bottom: 0px;
  left: auto;
  right: 2px;
  z-index: 30;
  height: 26px;
  width: 160px;
  text-align: center;
  font-size: 16px;
  padding: 4px;
  margin: 10px;
  overflow: hidden;
  background: #23282d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.img_manager {
  position: fixed;
  top: auto;
  bottom: 0px;
  left: auto;
  right: 2px;
  z-index: 20;
  height: 100%;
  width: 300px;
  padding: 80px 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  border-left: 2px solid #777;
}
.img_cont {
  width: 100%;
  margin: 12px auto;
}
.img_thumb {
  width: 100%;
}
.img_src {
  display: block;
  border-bottom: 1px solid #777;
  word-wrap: break-word;
  margin: 0px;
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
}
.img_copy {
  display: block;
  margin: 8px auto;
  background: #00b377;
  padding: 8px;
  color: white;
  border: none;
  border-radius: 4px;
}
.progress_bar, .progress_bar_bg {
  top: 84px !important;
}
#main-nav-cont {
  top: 32px !important;
}
/*
gutenberg layout fixes
*/

.editor-writing-flow {
  height: auto !important;
}
.editor-writing-flow__click-redirect {
  flex-basis: auto !important;
}
@media (min-width: 960px) {
  .auto-fold .edit-post-header, .auto-fold .components-notice-list {
      left: 203px !important;
  }
}

.chroma_tabs_controller {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.chroma_tabs_controller span {
  background-color: inherit;
  border-right: 1px solid #ccc;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.chroma_tabs_controller span:hover {
  background-color: #ddd;
}
.chroma_tabs_controller span.is_active {
  background-color: #09c894;
  color: #fff;
}
.chroma_tabs {
  display: block;
  width: 100%;
  min-height: 260px;
  margin: 0px;
}

.chroma_tabs .chroma_tabs_box {
  display: none;
  overflow: hidden;
  opacity: 0;
  min-height: 260px;
  padding: 0px;
  border-top: none;
}
.chroma_tabs .chroma_tabs_box textarea {
  padding: 12px;
  min-height: 260px;
  height: 100%;
}
.chroma_tabs .chroma_tabs_box.first {
  display: block;
  opacity: 1;
  width: 100%;
  height: auto;
}
.chroma_tabs_box.is_active {
  display: block;
  width: 100%;
  animation: _fade_in .4s;
  animation-fill-mode: forwards;
}
@keyframes _fade_in {
  0% {
    opacty: 0;
  }
  100% {
    opacity: 1;
  }
}
.chromaShareData {
  font-size: .9rem;
  color: #666;
  cursor: pointer;
  width: 100%;
  min-height: 30px;
  margin-bottom: 2px;
}
.social-hov-box {
  box-sizing: border-box;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin-top: -25vh;
  width: 20vw;
  position: fixed;
  height: auto;
  color: #000;
  display: flex;
  height: auto;
  padding: 12px;
  line-height: 1.8;
  font-size: .9rem;
  opacity: 0;
  background: rgb(255,255,255);
  box-shadow: none;
  border-radius: 6px;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  transition: opacity .24s;
  max-height: 0px;
  transform: translateX(-100vw);
  border-radius: 4px;
}
.social-hov-title {
  padding: 12px 32px 12px 12px;
  line-height: 1.5;
  font-weight: 700;
  background: #474747;
  margin: -12px -12px 0px -12px;
  color: #fff;
}
.social-hov-box-close {
  width: 12px;
  height: 12px;
  float: right;
  padding-right: 6px;
  font-size: 2rem;
  position: absolute;
  top: -12px;
  right: 6px;
  color: #fff;
  cursor: pointer;
}
.social-hov-box.is-active {
  opacity: 1;
  box-shadow: 0px 0px 32px -4px rgba(0,0,0,.72);
  max-height: 5000%;
  transform: translateX(0);
}
.social-button {
  border-radius: 4px;
  padding: 6px 12px;
  background: #0caf83;
  color: #fff;
  font-weight: 500;
  letter-spacing: .1em;
  border: none;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,.6);
  cursor: pointer;
  text-align: center;
}
.social-button:hover {
  background: #31cfa5;
}
.edit-post-layout.is-sidebar-opened .components-notice-list {
  margin-left: 45px;
}
@media (min-width: 782px) {
  .edit-post-header {
    left: 210px !important;
  }
}
.wp-submenu {
  padding: 0px !important;
}
.wp-submenu .wp-submenu-head {
  display: none !important;
}
.wp-submenu.is-active {
  max-height: 800px !important;
  padding: 12px 0px !important;
}
.edit-post-layout .components-notice-list {
  left: 210px !important;
}
